{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "img/8.png"%}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
            <!-- <h1>BİZ KİMİZ ?</h1>
            <span class="subheading">Hadi tanışalım.</span> --> 
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Merhaba, Asgard Education ekibi olarak sizlere ücretli olarak göreceğiniz eğitimleri, tamamiyle ücretsiz bir şekilde vermekteyiz. Amacımız Siber Güvenlik diyince direk Instagram hack olarak düşünmeyen, network, kali&linux vb.  şekilde düşünen bilinçli insanlar oluşturmaktır. Eğitimlerimiz discord sunucumuzda olmakla birlikte kesinlikle sizlerde ücret talebinde bulunulmayacaktır.  Olur da bir gün sosyal platformlar üzerinden para kazanırsak bilin ki o para bizim cebimize değil Hayır kurumlarına gidecektir</p>
      </div>
    </div>
  </div>

  <hr>
  {% endblock content %}